:root {

}

/* Base
============================= */
body {
  font-family:'Courier New', Courier, monospace;
  line-height: 1.5;
  text-size-adjust: auto;
}

a {
  color:#000;
  text-decoration: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  text-align: center;
}

h3{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  background: #F9EA95;
}

ul {
  list-style: none;
}



/* Helpers (clases especiales de ayuda)
======================================= */

.icon {
  text-align: center;
}

.form {
  background: rgba(228, 228, 228, 0.794);
}

.config-anchorage {
  
  padding: 8px 12px;
  background: #A0B19F;
  margin: 3px;
}

.unite-div{
  float:left;
  margin: 0px 10px 10px 0px;
}

.unite-div-principal{
  float:left;
  align-items: right;
  text-align: center;
}


/* Layout (grid-system) // Grillas
==================================== */

.aling-text {
  padding: 0px 0px 0px 200px;
  vertical-align: middle;
}

.aling-text-modal{
  padding: 0px 0px 0px 115px;
  vertical-align: middle
}

.aling-anchorage-download{
  text-align-last: left;
  float:left;
  margin: auto;
} 

.aling-anchorage-networks{
   text-align-last: right;
   margin: auto;
} 

.aling-img-opinions{
  float:left;
  margin: 0px 0px 0px 500px;
}





/* Components (btn, boxes, accordion, etc)
============================= */
    
ul.navbar-menu {
  margin:0;
  padding:0;
  }

.navbar-item{
  margin-bottom:12px;
  color: white;
  }

.navbar-item :hover {
  background-color:#EB8578;
  }  

.navbar-link{
  font-size:15px;
  text-transform: uppercase;
}  

.btn{
  color: black;
  background-color: #F5A462;
  cursor: pointer;
 }

 
footer{
  background:#306073;
 }



/* Pages/section
============================= */

#principal{

 }