:root {

}

/* Base
============================= */
body {
  font-family:'Courier New', Courier, monospace;
  line-height: 1.5;
  text-size-adjust: auto;
}

a {
  color:#000;
  text-decoration: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  text-align: center;
}

h3{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-variant: small-caps;
  background: #F9EA95;
}

ul {
  list-style: none;
}

img{
  display:block;
  margin:auto
}



/* Helpers (clases especiales de ayuda)
======================================= */

.icon {
  text-align-last: right;
}

.form {
  background: rgba(228, 228, 228, 0.794);
}

.config-anchorage {
  padding: 8px 12px;
  background: #A0B19F;
  margin: 3px;
  -moz-animation: center;
}

.unite-div{
  float:left;
}

.unite-div-principal{
  float:left;
  align-items: right;
  text-align: center;
}

.aling-anchorage-networks{
  float:left
}

.aling-anchorage-download{
  float:left

}



/* Layout (grid-system) // Grillas
==================================== */

.aling-tex {
  padding: 0px 0px 0px 200px;
  vertical-align: middle;
}

.aling-anclas-networks {
 text-align: right;
}

.aling-anclas-download {
  text-align: left;
}



/* Components (btn, boxes, accordion, etc)
============================= */
    
ul.navbar-menu {
  margin:0;
  padding:0;
  }

.navbar-item{
  margin-bottom:12px;
  display: inline-block;
  color: white;
  }

.navbar-item :hover {
  background-color:#EB8578;
  }  

.navbar-link{
  font-size:15px;
  text-transform: uppercase;
}  

.btn{
  color: black;
  background-color: #F5A462;
  cursor: pointer;
 }

 
footer{
  background:#306073;
 }



/* Pages/section
============================= */

#principal{

 }